@import "tailwindcss";

@theme {
    --color-primary: #f6a64f;
    --color-secondary: #b56141;
    --color-background: #fffcf8;
    --color-white: white;

    --background-image-gradient-primary: linear-gradient(
        to right,
        #f4a44f,
        #ac573f
    );
}

@layer base {
    html {
        font-family:
            "SF Pro Text",
            "SF Pro Display",
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            sans-serif;
    }

    body {
        overflow-x: hidden;
    }
}

@layer components {
    @keyframes fade-up {
        from {
            opacity: 0;
            transform: translateY(12px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .card-reveal {
        animation: fade-up 0.35s ease both;
    }

    .menu-wrapper {
        @apply md:flex flex-col md:flex-row gap-4 md:gap-8 text-sm font-medium absolute md:static top-17.5 left-0 w-full md:w-auto bg-white/90 md:bg-transparent rounded-lg md:rounded-none shadow-md md:shadow-none p-4 md:p-0 z-50 border border-[#fee6cc] md:border-none backdrop-blur-[30.90px] md:backdrop-blur-none;
    }

    .menu-item {
        @apply relative w-fit before:content-[''] before:absolute before:w-0 before:h-0.75 before:bg-gradient-primary before:rounded-full before:-bottom-1 before:left-0 before:transition-all before:duration-300 hover:before:w-full cursor-pointer;
    }

    .action-btn {
        @apply h-10 md:h-12 text-xs md:text-[14px] font-medium text-white bg-gradient-primary px-4 lg:px-10 rounded-[71px];
    }

    .btn-scale-anim {
        @apply transition-transform duration-300  ease-in-out transform hover:scale-105 hover:shadow-lg;
    }

    .profile-pic {
        @apply w-75 md:w-92.5 h-87.5 md:h-107 rotate-[5.75deg] transition-transform duration-300 ease-in-out hover:scale-105 hover:rotate-3 rounded-3xl;
    }

    .icon-img {
        @apply w-12 md:w-16 h-12 md:h-16 absolute transition-transform duration-300 ease-in-out hover:scale-110 hover:rotate-0;
    }

    .section-title {
        @apply text-[26px] font-semibold text-center bg-gradient-primary bg-clip-text text-transparent;
    }

    .arrow-btn {
        @apply absolute top-1/2 transform -translate-y-1/2 bg-primary text-white p-2 rounded-full shadow;
    }

    .input-box {
        @apply bg-orange-50 rounded-2xl border border-orange-100 px-4 py-3 placeholder:text-orange-400/80 placeholder:text-sm mb-5 focus:outline-none focus:border-primary;
    }
}
